<div class="form-container bg-blue-300">
  <h1>Editing author</h1>

  <%= render "form", author: @author %>

  <br>

  <div>
    <%= link_to "Show this author", @author, class:"btn bg-gray-400"%> |
    <%= link_to "Back to authors", authors_path, class: "btn bg-blue-400" %>
  </div>

</div>
