<div class="form-container bg-blue-300">

<h1 class="text-3xl mb-3">New author</h1>

<%= render "form", author: @author %>

<br>

<div>
  <%= link_to "Back to authors", authors_path, class: "btn bg-blue-500" %>
</div>
</div>