<div class="w-screen h-[calc(100vh-80px)]">
  <div class="w-[60vw] min-h-[75vh] mx-auto flex flex-col items-center 
              justify-center py-7 text-center">
    <%= form_with(url: "/search") do |form| %>
      <div class="mb-3">
        <%= form.label :search, "Search for a specific book", class: "text-5xl" %>
        <%= form.text_field :search, class: "text-input my-5",
            placeholder: "Title, ISBN, Author, Publisher" %>

      </div>
      <%= form.submit "Search", class: "btn bg-green-400" %>
    <% end %>
  </div>
</div>
