<div class="flex flex-col w-screen h-[80vh]">
  <div class="flex p-5 justify-between">
    <h1 class="text-3xl">Books</h1>
    <div>
      <%= link_to "New book", new_book_path, class:"btn bg-green-500" %>
      <%= link_to "Go back to home", backroom_path, class:"btn bg-gray-400" %>
    </div>
  </div>
  <div class="separator"></div>
  <div id="books" class="items-container">
    <% @books.each do |book| %>
      <%= render book %>
      <div class="separator"></div>
    <% end %>
  </div>


</div>
